/*estilo da index*/

*{
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    padding: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

#menu li a:hover{
    color: #69814d;
}

header{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

body{
    font-family: open sans, sans-serif;
    letter-spacing: 0.1em;
}

.music{
    text-align: center;
    margin-bottom: 20px;
}

.social{
    width: 30px;
    margin: 10px;
}

.mb{
    margin-bottom: 10px;
}

.center{
    text-align: center;
}

.txt{
    font-size: 15px;
}

.imgtm{
    
}