/*estilo da contato*/

*{
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    padding: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

#menu li a:hover{
    color: #69814d;
}

body{
    font-family: open sans, sans-serif; 
    letter-spacing: 0.1em;
}

.center{
    text-align: center;
}

section{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.p-30{
    padding: 30px;
}

.m{
    margin: 45px;
}

.social{
    width: 30px;
    margin: 10px;
}

.button {
    background-color: #e7e7e7; color: black; 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #69814d;
    color: white;
  }

.radius{
    border-radius: 8px;
}